/*
* {
    outline:1px red solid;
    }

*/

/* Headers */
header{
    padding-bottom: 2em;
    border-bottom: 3px solid steelblue;
    background-image: -moz-linear-gradient(
    180deg, white 0%, lightsteelblue 100%);
    background-image: -webkit-linear-gradient(
    180deg, white 0%, lightsteelblue 100%);
    background-image: -o-linear-gradient(
    180deg, white 0%, lightsteelblue 100%);
    background-image: linear-gradient(
    180deg, white 0%, lightsteelblue 100%)
}

header .header-class .header-class-inner h1 {
   text-indent: 40px;
   font-style: italic;
   color:#4682b4;
   text-shadow: 2px 2px 5px steelblue;
  }

header .header-class .header-class-inner h2{
    text-indent: 40px;
}


.header-class-inner img {
 float: left;  
}


body {
    font-family: sans-serif;
    width: 1200px;
    margin: 0 auto;
    border: 4px solid steelblue;
    border-radius: 2px;
    box-shadow: 5px 5px 5px black;
}
 
main{
    float: left;
    margin: 20px;
    width: 550px;
}  

main h2{
    margin-top: 0;
}


a{
    color: maroon;   
}

a:hover{
    color: steelblue;
}


.resources a{
    color: steelblue;
    font-weight: bold;
}

li{
    padding: 5px;   
}


/* creating colummns for website */
/* left column */
#left{
    float:left;
    width: 245px;
}

/* left column */
#left h2{
   color: maroon; 
}


#right{
    float: right;
    width: 350px;
}


#right h2{
    color: maroon;
}


footer{
    clear: both;
    text-align: center;
    font-size: 14px;
    color: white;

    margin-top:2px;
    padding: 10px;
    background-color: steelblue;
    height: 200%;
   
}



